:root {
  
  
  
  font-family: 'TT Tunnels Bold', 'Impact', sans-serif;
  line-height: 1.5;
  font-weight: 400;;

  color-scheme: light;
  background-color: rgba(255, 255, 255, 0.87);
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'TT Tunnels';
  src: url('/font/TTTunnels-Thin.eot');
  src: local('TT Tunnels Thin'), local('TTTunnels-Thin'),
      url('/font/TTTunnels-Thin.eot?#iefix') format('embedded-opentype'),
      url('/font/TTTunnels-Thin.woff2') format('woff2'),
      url('/font/TTTunnels-Thin.woff') format('woff'),
      url('/font/TTTunnels-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Tunnels';
  src: url('/font/TTTunnels-Bold.eot');
  src: local('TT Tunnels Bold'), local('TTTunnels-Bold'),
      url('/font/TTTunnels-Bold.eot?#iefix') format('embedded-opentype'),
      url('/font/TTTunnels-Bold.woff2') format('woff2'),
      url('/font/TTTunnels-Bold.woff') format('woff'),
      url('/font/TTTunnels-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Tunnels';
  src: url('/font/TTTunnels-Light.eot');
  src: local('TT Tunnels Light'), local('TTTunnels-Light'),
      url('/font/TTTunnels-Light.eot?#iefix') format('embedded-opentype'),
      url('/font/TTTunnels-Light.woff2') format('woff2'),
      url('/font/TTTunnels-Light.woff') format('woff'),
      url('/font/TTTunnels-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Tunnels';
  src: url('/font/TTTunnels-Regular.eot');
  src: local('TT Tunnels Regular'), local('TTTunnels-Regular'),
      url('/font/TTTunnels-Regular.eot?#iefix') format('embedded-opentype'),
      url('/font/TTTunnels-Regular.woff2') format('woff2'),
      url('/font/TTTunnels-Regular.woff') format('woff'),
      url('/font/TTTunnels-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Tunnels';
  src: url('/font/TTTunnels-Black.eot');
  src: local('TT Tunnels Black'), local('TTTunnels-Black'),
      url('/font/TTTunnels-Black.eot?#iefix') format('embedded-opentype'),
      url('/font/TTTunnels-Black.woff2') format('woff2'),
      url('/font/TTTunnels-Black.woff') format('woff'),
      url('/font/TTTunnels-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

